h1 {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
}
h2 {text-transform: uppercase; text-align: center;}
body {font-family: Arial, Helvetica, sans-serif;}

.container {
    max-width: 1060px;
    margin: 50px auto;
}
.left,
.right {
    display: inline-block;
}
.left {
    width: 30%;
    float: left;
}
.right {
    width: 65%;
    margin-left: 4%;
}
img {
    width: 100%;
}

header {
    background-image: url('../img/detox\ cure\ smoothie.jpg');
    background-position: center;
    background-size: cover;
    padding: 20px 200px;
    color: white;
}
header nav * {
    display: inline-block;
}
header nav img {
    height: 50px;
    width: auto;
}
header nav ul {
    float: right;
}
header nav ul li {
    margin-left: 20px;
}
header nav ul li a {
    color: white;
}
header h1 {
    text-align: center;
    padding: 150px 0;
    text-transform: none;
    font-size: 4rem;
    letter-spacing: 5px;
}



#fabrication {
    background: linear-gradient( #FEB4C3,#F59E28);
    padding: 50px 0;
    color: white;
}
#fabrication ul {
    list-style: none;
    padding:0;
}
#fabrication ul li {
    text-align: center;
    margin:80px auto;
}



#items ul {
    list-style: none;
    padding:50px 0;
}
#items ul li {
    display: inline-block;
    width: calc(100%/3 - 20px);
    text-align: center;
}
#items ul li:nth-of-type(2) {
    margin-left: 20px; margin-right: 20px;
}
#items li img, #fabrication li img {
    width: auto;
}

footer {
    background: #F59E28;
    padding: 20px 0;
    color: white;
    text-align: center;
}
