body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    max-width: 1060px;
    margin: 50px auto;
}

h1,
h2 {
    font-family: 'Mandali', Arial, Helvetica, sans-serif;
}

ul {
    padding: 0;
}

.left,
.right {
    display: inline-block;
}

.left {
    width: 30%;
    float: left;
}

.right {
    width: 65%;
    margin-left: 4%;
}

img {
    width: 100%;
}

section {
    margin: 40px auto;
}

.btn {
    display: inline-block;
    padding: 5px 15px;
    background: white;
    color: rgb(25, 36, 62);
    border-radius: 50px;
    margin: 0 auto;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 2.3rem;
}

.btn:hover {
    color: white;
    background: rgb(25, 36, 62);
}

.d-flex {
    display: flex;
}

header {
    background-image: url('../img/yogamat.jpg');
    background-position: center;
    background-size: cover;
    padding: 20px;
    color: white;
}

header nav * {
    display: inline-block;
}

header nav img {
    height: 50px;
    width: auto;
}

header nav ul {
    float: right;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
}

header h1 {
    text-align: center;
    text-transform: none;
    letter-spacing: 5px;
    font-size: 7rem;
    line-height: 6rem;
    margin: 0;
}

header h2 {
    font-weight: 400;
    text-align: center;
    font-size: 2rem;
}

header .d-flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

section h2 {
    color: #6E8E9B;
    font-size: 3rem;
    margin-bottom: 0;
}

section h2::after {
    content: '';
    background-color: #6E8E9B;
    height: 50px;
    width: 3px;
    display: block;
    margin-top: 30px;
}

section .d-flex {
    align-items: center;
    margin: 40px auto;
}

#concept .img {
    width: 30%;
    text-align: center;
}

#concept .img img {
    background: white;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 50px;
    max-width: 88px;
}

@media screen and (min-width: 991px) {
    #concept .d-flex:nth-child(2n) .img {
        order: 2;
    }
    #concept .d-flex:nth-child(2n) .txt {
        order: 1;
    }
}

#cours .img {
    background-image: url('../img/yoga.jpg');
    background-size: cover;
    background-position: 90% center;
    background-repeat: no-repeat;
    min-width: 300px;
    margin-right: 5%;
    min-height: 300px;
}

#contact ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#contact ul li {
    margin-right: 30px;
}

#contact input:not(.btn) {
    padding: 10px 15px;
    background: white;
    border-radius: 50px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2) inset;
    border: none;
    margin-bottom: 20px;
    min-width: 400px;
}

#contact input::placeholder {
    color: rgba(25, 36, 62, 0.7);
    font-weight: 100;
}

#contact input.btn {
    border: none;
    margin: 30px auto 0;
}

footer {
    background: #6E8E9B;
    padding: 20px 0;
    color: white;
    text-align: center;
}

@media screen and (max-width: 991px) {
    body {
        padding: 0 30px;
    }
}

@media screen and (max-width: 768px) {
    #concept article {
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 80%;
    }
    #cours article {
        align-items: flex-start
    }
}